.main {
    padding: 24px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: var(--bg);
}

.main__text {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    color: var(--color);
}
.main__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: var(--color);
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;

    &::before {
        content: "";
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(../img/moon.svg);
        background-repeat: no-repeat;
    }
}
.form__item {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
    background-color: var(--bg);
    border-radius: 5px;
}

.form__conten {
    padding: 24px 91px 46px 24px;
}

.form__title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 144%;
    color: var(--color);
    margin-bottom: 16px;
}

.form__text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    color: var(--color);
    margin-bottom: 8px;
}

.form__number {
    font-weight: 300;
}

.form {
    padding-top: 48px;
}

.form__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
